.about .bg {
  width: 100%;
  height: 250px;
  background-size: cover !important; }

.about .bg-text {
  color: white;
  text-align: center;
  padding-top: 85px; }

.about p.about-text {
  font-size: 1.5rem; }

.about .content {
  margin: 40px 100px; }
